name: Unit tests

on: [push]

jobs:
  run:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-versions: ['8.1', '8.2']
    name: Testing on PHP ${{ matrix.php-versions }}
    steps:
      - uses: actions/checkout@v3
      - name: setup
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
          extensions: mbstring,bcmath
          tools: phpunit,composer

      - name: install deps
        run: composer install -o -q

      - name: phpunit
        run: phpunit -c phpunit.xml.dist

      - name: Upload Codecov coverage
        uses: codecov/codecov-action@v3
        with:
          file: './coverage.xml'
